<div class="video-player">
  <!--<h2 class="main-title">Welcome to VueTube {{msg}}</h2>-->
  <div class="video-container">
    <iframe width="640" height="360" :src="this.activeVideo.youtubeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h3>{{this.activeVideo.title}}</h3>
    <div class="row">
      <p>{{this.activeVideo.views}} views</p>
      <p >{{this.activeVideo.likes}} <button @click="addLike">Like</button></p>
    </div>
  </div>
  <div class="video-list">
    <div @click="chooseVideo(video)" :key="video.id" v-for="video in videos" class="thumbnail">
      <div class="thumbnail-img">
        <img :src="video.thumbnail" />
      </div>
      <div class="thumbnail-info">
        <h3>{{video.title}}</h3>
        <p>{{video.creator}}</p>
        <p class="thumbnail-views">{{video.views}} Views</p>
      </div>
    </div>
  </div>
</div>